<div class="bg-lavander min-h-screen font-franklin font-bold">

    <div class="text-5xl text-center text-purple-900 shadow-md shadow-neutral-500 p-8 tracking-widest hover:text-purple-800">{{ title }}</div>
    <div class="flex justify-center"> 
        <button class="bg-white py-1 px-5 flex justify-center items-center mt-6 text-purple-900 text-2xl tracking-wide rounded-lg shadow-md shadow-gray-500 hover:bg-lavander hover:text-purple-800" (click)="gameStarted ? resetGame() : startGame()">
            {{ gameStarted ? 'Play again' : 'Play' }}
        </button>
    </div>

    <app-board *ngIf="gameStarted"></app-board>

</div>