h1 {
  background-color: white;
  text-shadow: 3px 3px 4px rgb(170, 170, 220);
  padding: 70px;
  box-shadow: 10px 5px 5px rgba(117, 117, 117, 0.217);
  font-size: 50px;
  text-align: center;
  margin-top: -1cm;
  margin-bottom: -0.5cm;
  margin-left: -0.5cm;
  margin-right: -0.2cm;
  color: rgb(60, 60, 139);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  font-size: 30px;
  border-radius: 15px;
  transition: 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    background-color: rgb(170, 170, 220);
    font-size: 32px;
  }
}