.grid {
    display: grid;
    place-items: center;
    position: relative;
    margin-top: 1cm;
    
    .row {
        display: flex;
        box-shadow: 10px 10px 5px rgba(117, 117, 117, 0.217);

    
        .cell {
            width: 120px;
            height: 120px;
            position: relative;
            background: white;
            cursor: pointer;
            text-align: center;
            vertical-align: middle;
            border: 3.5px solid rgb(170, 170, 220);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.5;

            &:hover {
                background-color: rgb(170, 170, 220);
            }
        }
    }
}

.move-X, .move-O {
    color: rgba(83, 83, 168, 0.555);
    font-size: 100px;
}

.winner, .turn, .draw, .checkWinner {
    color: rgb(83, 83, 168);
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.warning {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    color: red;
    background-position: center;
}