body {
    background-color: rgba(170, 170, 220);
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
