// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';

body {
    background-color: rgba(170, 170, 220);
    margin-top: 50px;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}